/* About */
#about-area {
    background-color: var(--main-color-yellow);
}

.main-title {
    color: var(--main-title-color);
    margin-bottom: 65px;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 25%;
    position: absolute;
    top: 60px;
    left: 38%;
}

.about-title {
    font-size: 17px;
    color: var(--main-title-color);
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #65DAF9;
    margin-right: 15px;
}