.main {
    display: flex;
    flex-direction: row-reverse;
}

.title {
    position: relative;
    align-items: center;
    justify-content: center;
}

.banner {
    background: url(../svg/banner-inicial.svg) no-repeat;
    height: 20em;
    width: 100%;
    z-index: -1;
}