main .container-banner {
    /* display: flex;
    flex-direction: row-reverse; */
    padding-top: 15px;
}

.title {
    position: relative;
    align-items: flex-start;
    justify-content: center;
}

.title {
    width: 0;
    margin-left: 100px;
}

.title h2 {
    font-size: 50px;
}

.title input {
    background-color: #F29188;
    border: none;
    padding: 10px 20px;
    font-size: 23px;
    border-radius: 10px;
}

.banner {
    background: url(../svg/banner-inicial.svg) no-repeat right;
    height: 26em;
    width: 100%;
    right: 0;
    /* border: 1px solid blue; */
}