main .container-banner {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 35px;
}

.title {
    position: relative;
    align-items: center;
    justify-content: center;
}

.title {
    width: 50em;
    margin-left: 110px;
}

.title h2 {
    font-size: 45px;
}

.title input {
    background-color: #F29188;
    border: none;
    padding: 10px 20px;
    font-size: 23px;
    border-radius: 10px;
}

.banner {
    background: url(../svg/banner-inicial.svg) no-repeat;
    height: 26em;
    width: 100%;
    z-index: -1;
    position: relative;
    right: 200px;
}