/* Divider Shape */
.container-svg {
    background-color: transparent;
    width: 100%;
}

.group-svg, .container-svg-yellow, .container-svg-brown {
    position: absolute;
}

.group-svg {
    margin: 2em 0;
}

.container-svg-yellow {
    background-color: var(--second-color-salmon);
}

/* Contact */
#contact-area {
    background-color: var(--main-color-brown);
    margin-top: 2.5em;
    padding: 8.5em 0;
}

#contact-area img {
    width: 26px;
    margin: 0 .5em 0 0;
}

.contact-title {
    color: #fff;
}

#contact-area .contact-information{
    z-index: 1;
}

/* Form */
.form {
    background-color: #fff;
    width: 400px;
    padding: 5px 24px;
    width: 500px;
    padding: 5px 40px;
    outline: 20px solid var(--second-color-salmon);
    border-radius: 3.5em;
}

#contact-area #contact::after {
    content: "";
    position: relative;
    bottom: 48em;
    right: 5em;
    background-color: var(--main-color-blue);
    width: 170px;
    height: 145px;
    border-radius: 50%;
    display: block;
    z-index: -1;
}

.form-group {
    margin-bottom: 25px;
}

.form .contact-title {
    color: #000;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
}

.form p, .form label {
    font-size: 0.95em;
    letter-spacing: .05em;
    color: #000;
}

.form input, .form textarea {
    border: none;
} 

.form textarea {
    padding: 1em; 
    resize: none; 
}

.form .form-control {
    background-color: var(--second-color-salmon);
    border-radius: 37px;
}

.form .btn {
    background-color: var(--second-color-yellow);
    border: none;
    color: #000;
}

.form a {
    font-size: 1.2em;
    color: #000;
}

/* Form > input (validation) 
.form input:focus {
    outline: 3px solid var(--main-color-blue) !important;
}

.form input:invalid, .form textarea:invalid {
    outline: 3px solid #ff0000;
}

.form input:valid, .form textarea:valid {
    outline: 3px solid #00ff22;

}*/


/* Addres */
.addres p, #addres .about-title, #addres .number {
    color: #fff;
}
.addres p {
    margin: 10px 0;
}

.addres p, .addres-local {
    font-size: 1em;
}

.addres {
    margin: 10px 0;
}

/* Number */
#contact-area .number-list ul {
    width: 160px;
    padding: 1em 0;
}

#contact-area .number-list .number {
    font-size: 1.5em;
    list-style: none;
    margin: 1em 0;
}

/* Map */
#contact-area #map {
    height: 18em;
    width: 23em;
    position: relative;
    left: 10em;
    bottom: 17.5em;
    border-radius: 25%;
    z-index: 2;
}

#contact-area .box-map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 25%;
}
 
#contact-area .box-map iframe {
    height: 100%;
    width: 100%;
}

#contact-area #map::after {
    content: '';
    display: block;
    height: 130px;
    width: 150px;
    background-color: var(--main-color-yellow);
    border-radius: 50%;
    position: relative;
    right: 2em;
    bottom: 5em;
    z-index: -1;
}