/* Contact */
#contact-area {
    background-color: var(--main-color-brown);
}

/* Form */
.form {
    background-color: #fff;
    width: 400px;
    padding: 5px 24px;
    width: 500px;
    padding: 5px 40px;
    outline: 20px solid var(--second-color-salmon);
    border-radius: 3.5em;
}

.form-group {
    margin-bottom: 25px;
}

.form .contact-title {
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
}

.form p, .form label {
    font-size: 0.95em;
    letter-spacing: .05em;
    color: #000;
}

.form input, .form textarea {
    border: none;
} 

.form textarea {
    padding: 1em; 
    resize: none; 
}

.form .form-control {
    background-color: var(--second-color-salmon);
    border-radius: 37px;
}

.form .btn {
    background-color: var(--second-color-yellow);
    border: none;
    color: #000;
}

.form img {
    width: 28px;
}

.form a {
    font-size: 1.2em;
    color: #000;
}
    
/* Form > input (validation) 
.form input:focus {
    outline: 3px solid var(--main-color-blue) !important;
}

.form input:invalid, .form textarea:invalid {
    outline: 3px solid #ff0000;
}

.form input:valid, .form textarea:valid {
    outline: 3px solid #00ff22;

}*/

/* Map */
.box-map {
    overflow: hidden;
    padding-bottom: 98%;
    position: relative;
    height: 0;
}
 
.box-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}