/* Contact */
#contact-area {
    background-color: var(--main-color-yellow);
}

.contact-title {
    font-size: 22px;
}

.form {
    background-color: #fff;
    padding: 5px 24px;
    border-radius: 10px;
}

.form p, .form label {
    letter-spacing: .05em;
    color: #fff;
}

.form textarea { 
    resize: none; 
}


.form .form-control {
    background-color: #feebd7;
    border-radius: 37px;
}

.form-group {
    margin-bottom: 25px;
}

.form .btn {
    background-color: var(--second-color-yellow);
    border: none;
}

.form a {
    color: #000;
}