/* Curso */
.card {
    background-color: var(--main-color-yellow);
    height: 500px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    transition:0.5s;
    cursor:pointer;
} 

.card img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin: 35px 0;
}

.card-title {  
    font-size: 20px;
    transition:1s;
}

#curso-area .card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

#curso-area .card::before, #curso-area .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}