/* General */
.nav-container ul {
    display: flex;
    align-items: center;
    margin-left: 4em;
}

.nav-container li {
    margin: 1em;
}

.nav-container a {
    font-size: 10px;
    color: #fff;
}

.nav-container {
    font-family: 'Montserrat';/*Baixar*/
}

/* Nav-Out */
.nav-out #logo {
    width: 50px;
}

.nav-out .nav-container {
    background-color: #481717;
}

.nav-out .nav-container, .nav-out ul { 
    height: 2.5em;
    padding: 1px;
}

/* Nav-In */
.nav-in .nav-container {
    background-color: #592020;
}

.nav-in .nav-container, .nav-in ul { 
    height: 3em;
    padding: 1px;
}

.nav-in .nav-container a {
    font-size: 1em;
    color: #fff;
}