/* General */
.nav-container ul {
    display: flex;
    align-items: center;
    margin-left: 6rem;
}

.nav-container li {
    margin: 0 1rem;
}

.nav-container a {
    font-size: 10px;
    color: #fff;
}

/* Nav-Out */
.nav-out #logo {
    width: 50px;
}

.nav-out {
    --padding-navout: 10px;
    background-color: var(--primary-color-brown);
    padding: 0.65em 0;
}

.nav-out .nav-container {
    font-size: 10px;
    line-height: 12px;
}

.nav-out .nav-container, .nav-out ul { 
    height: 2.5em;
    padding: 0px;
}

/* Nav-In */
.nav-in {
    background: url(../svg/onda-banner.svg) no-repeat;
    background-size: cover;
    height: 11.5em;
    position: relative;
    bottom: 5px;
    z-index: -1;
}

.nav-in .nav-container {
    padding: 2.65em 0;
}

.nav-in ul { 
    height: 3em;
    padding: 0;
}

.nav-in .nav-container a {
    font-size: 1em;
    color: #fff;
}