@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: 2px solid #f00;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --primary-color-brown: #481717;
    --second-color-brown: #592020;
}

.container {
    padding: 70px 0;
}

.container-fluid {
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}