/* General */
body {
    font-family: 'Roboto', sans-serif;
}

:root {
    /* Brown */
    --main-color-brown: #592020;
    --second-color-brown: #69391d;
    /* Yellow */
    --main-color-yellow: #f2df80;
    --second-color-yellow: #ffa710;
    /* Blue */
    --main-color-blue: #35d0f2;
    /* Salmon */
    --main-color-salmon: #f29188;
    --second-color-salmon: #feebd7;
    /* Color Default */
    --main-color-gray: #f2f2f2;
    --main-title-color: #000;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

a {
    text-decoration: none;
    color: white;
}

p, li {
    color: #444;
    font-size: 14px;
}