/* Map */
.box-map {
    overflow: hidden;
    padding-bottom: 98%;
    position: relative;
    height: 0;
}
 
.box-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}