/* Navigation Bar 
header, .navbar {
    background-color: var(--main-color-brown);
}

.navbar {
    padding: 1.5em 0.5em;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

#navbar-links a {
    color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.container-fluid {
    padding: 0;
}

/* Navigation Bonfim 
.navbar-bonfim .navbar-nav {
    background-color: var(--third-color-brown);
    height: 10px;
}*/

header, .navbar {
    background-color: var(--main-color-brown);
}

#logo {
    width: 75px;
}

.navbar-bonfim {
    background-color: var(--third-color-brown);
    width: 100%;
    height: 5em;
}