/* Statistic */
#statistic-area .container {
    background-color: var(--second-color-brown);
    height: auto;
    padding: 10px 15px;
}

#statistic-area .main-title {
    margin-top: 10px;
}

.statistic-box {
    margin-bottom: 30px;
    text-align: center;
}

.statistic-box .card {
    border: 2px solid #000;
    /* height: 50px; */
    padding: 15px;
}

#statistic-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#statistic-area .statistic-btn {
    color: #000;
    border: 1px solid #444;
    background-color: var(--second-color-yellow);
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#statistic-area .statistic-btn.active, #statistic-area .statistic-btn:hover {
    background-color: var(--main-color-brown);
    color: #fff;
    border: 2px solid var(--main-color-yellow);
}
