/* General */
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

a {
    text-decoration: none;
    color: white;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Navigation Bar */
header, .navbar {
    background-color: #52271b;
}

.navbar {
    padding: 1.5em 0.5em;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #1889c8;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.container-fluid {
    padding: 0;
}

/* Slide */
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-item {
    margin-top: 100px;
}

#mainSlider .carousel-caption {
    bottom: 30%;
}

/*
#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #000;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #000;
}*/

.main-btn {
    background-color: #f1d173;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    margin-top: 2000px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    position: relative;
    bottom: 1em;
}

.main-btn:hover {
    text-decoration: none;
    color: #000;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators .active {
    background-color: #000000;
}

/* Card */

#card-area {
    height: 3em; 
}                                            

.card {
    height: 90%;
    transition:0.5s;
    cursor:pointer;
} 

.card img {
    height: 80%;
}

#card-area > div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
}

.card-title {  
    font-size:15px;
    transition:1s;
    cursor:pointer;
}

.card-title i {  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-text{
    height:80px;  
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

/* About */
#about-area {
    background-color: #f9f9f9;
}

.main-title {
    color: #444;
    margin-bottom: 65px;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 25%;
    position: absolute;
    top: 60px;
    left: 38%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #65DAF9;
    margin-right: 15px;
}

/* Statistic */
#statistic-area .container {
    background-color: #e4e4e4;
    height: 800px;
}

.statistic-box {
    margin-bottom: 30px;
    text-align: center;
}

#statistic-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#statistic-area .statistic-btn {
    color: #000;
    border: 1px solid #444;
    background-color: #ffa710;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#statistic-area .statistic-btn.active, #statistic-area .statistic-btn:hover {
    color: #fff;
    background-color: #52271b;
    border: 2px solid #f1d173;
}

/* Contact */
.contact-title {
    font-size: 22px;
}

.form {
    background-image: linear-gradient( to right, #52271b, hsl(38, 92%, 27%));
    padding: 5px 24px;
    border-radius: 10px;
}

.form p, .form label {
    letter-spacing: .05em;
    color: #fff;
}

.form-group {
    margin-bottom: 25px;
}

.form .btn {
    background-color: #ffa710;
    border: none;
}

.form a {
    color: #000;
}

/* Map */
.box-map {
    overflow: hidden;
    padding-bottom: 98%;
    position: relative;
    height: 0;
}
 
.box-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}