/* General */
body {
    font-family: 'Roboto', sans-serif;
}

:root {
    /* Brown */
    --main-color-brown: #592020;
    --second-color-brown: #69391D;
    /* Yellow */
    --main-color-yellow: #F2DF80;
    --second-color-yellow: #ffa710;
    /* Blue */
    --main-color-blue: #35D0F2;
    /* Salmon */
    --main-color-salmon: #F29188;
    /* Color Default */
    --main-color-gray: #F2F2F2;
    --main-title-color: #000;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

a {
    text-decoration: none;
    color: white;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Navigation Bar */
header, .navbar {
    background-color: var(--main-color-brown);
}

.navbar {
    padding: 1.5em 0.5em;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #1889c8;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.container-fluid {
    padding: 0;
}

/* Slide */
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 100%;
}

#mainSlider .carousel-item {
    margin-top: 100px;
}

#mainSlider .carousel-caption {
    bottom: 10%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    transition: 0.4s;
	background-color: #ffe4c4;
}

/*
#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #000;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #000;
}*/

.main-btn {
    background-color: var(--main-color-yellow);
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    margin-top: 2000px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    position: relative;
    bottom: 1em;
}

.main-btn:hover {
    text-decoration: none;
    color: #000;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators .active {
    background-color: #000000;
}

/* Curso */
#curso-area {
    background-color: var(--main-color-brown);
}                                            

.card {
    background-color: var(--main-color-yellow);
    height: 500px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    transition:0.5s;
    cursor:pointer;
} 

.card img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin: 35px 0;
}

.card-title {  
    font-size: 20px;
    transition:1s;
}

#curso-area .card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

#curso-area .card::before, #curso-area .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

/* About */
#about-area {
    background-color: var(--main-color-yellow);
}

.main-title {
    color: var(--main-title-color);
    margin-bottom: 65px;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 25%;
    position: absolute;
    top: 60px;
    left: 38%;
}

.about-title {
    font-size: 17px;
    color: var(--main-title-color);
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #65DAF9;
    margin-right: 15px;
}

/* Statistic */
#statistic-area {
    background-color: var(--main-color-brown);
}

#statistic-area .container {
    background-color: var(--second-color-brown);
    height: auto;
    padding: 10px 15px;
}

#statistic-area .main-title {
    margin-top: 10px;
}

.statistic-box {
    margin-bottom: 30px;
    text-align: center;
}

.statistic-box .card {
    border: 2px solid #000;
    /* height: 50px; */
    padding: 15px;
}

#statistic-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#statistic-area .statistic-btn {
    color: #000;
    border: 1px solid #444;
    background-color: var(--second-color-yellow);
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#statistic-area .statistic-btn.active, #statistic-area .statistic-btn:hover {
    background-color: var(--main-color-brown);
    color: #fff;
    border: 2px solid var(--main-color-yellow);
}

/* Contact */
#contact-area {
    background-color: var(--main-color-yellow);
}

.contact-title {
    font-size: 22px;
}

.form {
    background-image: linear-gradient( to right, var(--main-color-brown), #845606);
    padding: 5px 24px;
    border-radius: 10px;
}

.form p, .form label {
    letter-spacing: .05em;
    color: #fff;
}

.form-group {
    margin-bottom: 25px;
}

.form .btn {
    background-color: var(--second-color-yellow);
    border: none;
}

.form a {
    color: #000;
}

/* Map */
.box-map {
    overflow: hidden;
    padding-bottom: 98%;
    position: relative;
    height: 0;
}
 
.box-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}