/* Reset de estilos */
* {
  padding: 0;
  margin: 0;
}

body,
#footer {
  /* text-align: center; */
  background-color: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 10px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos específicos de cada seção */
#header {
  background-color: #007bff;
  color: #fff;
  padding: 40px;
}

#header h1 {
  font-size: 48px;
}

#header p {
  font-size: 24px;
  margin-bottom: 0;
}

#cursos {
  background-color: #f8f8f8;
  padding: 40px 0;
}

#contato-suporte {
  background-color: #fff;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  #header {
    padding: 20px;
  }

  #header h1 {
    font-size: 36px;
  }

  #header p {
    font-size: 18px;
  }

  #footer {
    padding: 10px;
  }

  form input,
  form textarea {
    padding: 5px;
  }
}
